<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="重建三维几何空间，室内重建，slam，geometryhub, magic3d, geometry++, stl, obj, 3d模型，三维设计">
    <meta name="keywords" content="重建三维几何空间，室内重建，slam，geometryhub, magic3d, geometry++, stl, obj, 3d模型，三维设计">
    <link rel="icon" href="/images/favicon.png">

    <title>Geometry++</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/gppabout.css" rel="stylesheet">
    <link href="/stylesheets/homepagetoolbar.css" rel="stylesheet">
    <link href="/stylesheets/homepagefooter.css" rel="stylesheet">
    <script src="/javascripts/Tool/baidutongji.js"></script>
    <script src="/javascripts/Dependence/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/Dependence/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/Dependence/jquery-scrolltofixed.js"></script>
  </head>

  <body>
    <% include homepagetoolbar %>

    <div class="container">
        <h2>Geometry++</h2>
        
        
<!--         <hr class="featurette-divider">
        <h3>简介</h3>
 -->        <h3>Geometry++是一个关于三维数据(点云，网格)处理的几何库，它包含了三维数据处理最基础的算法，可以作为三维数据处理软件的几何引擎来使用。 </h3>

        <div class="headdescription"><a class="btn btn-lg btn-success" href="/slam" target="_blank" role="button">SLAM</a> <a class="btn btn-lg btn-success" href="/magic3d" target="_blank" role="button">Magic3D</a></div>


        <hr class="featurette-divider">
        <h3>功能展示</h3>

        <div class="row featurette">
          <div class="col-md-6">
            <div class="modulecaption"><a href="/slam" target="_blank">深度视频配准融合</a></div>
            <ul class="moduleul">
            <li><div class="modulecontent">前端：实时注册 + 融合 + 局部调整</div></li>
            <li><div class="modulecontent">后端：回路检测 + 全局注册 + 颜色融合</div></li>
            <li><div class="modulecontent">纯CPU实时计算</div></li>
            </ul>
          </div>
          <div class="col-md-6">
            <video class="featurette-image img-responsive center-block" src="/videos/slam_0.mp4" poster="/images/bedroom_loop_image_2_res.png" controls="controls" loop="loop">你的浏览器不支持Video标签, 请换一个浏览器，比如Google浏览器</video>
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <img class="marginleft featurette-image img-responsive center-block" src="/images/face_texture.jpg" alt="face_texture">
          </div>
          <div class="col-md-5">
            <div class="modulecaption_right"><a href="/slam#texture" target="_blank">纹理贴图制作</a></div>
            <ul class="moduleul_right">
            <li><div class="modulecontent">点云，网格纹理贴图制作</div></li>
            <li><div class="modulecontent">贴图割缝优化</div></li>
            <li><div class="modulecontent">贴图色差融合</div></li>
            <li><div class="modulecontent">可以制作带贴图格式的OBJ文件</div></li>
            </ul>
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-4">
            <div class="modulecaption">点云颜色融合</div>
            <ul class="moduleul">
            <li><div class="modulecontent">扫描点云暗边修正</div></li>
            <li><div class="modulecontent">修正不同角度的点云颜色差异</div></li>
            </ul>
          </div>
          <div class="col-md-8">
            <img class="featurette-image img-responsive center-block" src="/images/tune_point_color.jpg" alt="feature-modeling">
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <img class="marginleft featurette-image img-responsive center-block" src="/images/texture_misc.jpg" alt="feature-modeling">
          </div>
          <div class="col-md-5">
            <div class="modulecaption_right">网格UV展开</div>
            <ul class="moduleul_right">
            <li><div class="modulecontent">单片网格自由边界，固定边界UV展开</div></li>
            <li><div class="modulecontent">任意拓扑网格全自动UV展开</div></li>
            <li><div class="modulecontent">UV映射扭曲误差小</div></li>
            <li><div class="modulecontent"><a href="/demo/unfold" target="_blank">三维网格UV展开示例</a></li>
            </ul>
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-4">
            <div class="modulecaption">网格优化</div>
            <ul class="moduleul">
            <li><div class="modulecontent">重新网格化(Remesh)</div></li>
            <li><div class="modulecontent">Delaunay网格优化</div></li>
            <li><div class="modulecontent">重心Voronoi网格优化</div></li>
            </ul>
          </div>
          <div class="col-md-8">
            <img class="featurette-image img-responsive center-block" src="/images/remesh_fandisk.jpg" alt="feature-modeling">
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <img class="featurette-image img-responsive center-block" src="/images/global_registrate_interior.png" alt="feature-modeling">
          </div>
          <div class="col-md-5">
            <div class="modulecaption_right">点云注册融合</div>
            <ul class="moduleul_right">
            <li><div class="modulecontent">点云无标记配准，速度最快</div></li>
            <li><div class="modulecontent">有序点云CPU实时ICP注册</div></li>
            <li><div class="modulecontent"><a href="/slam#globalreg" target="_blank">点云全局注册</a>，减少多帧累计误差</div></li>
            <li><div class="modulecontent">点云去除重叠，优化重叠痕迹</div></li>
            <li><div class="modulecontent">点云非刚性注册</div></li>
            <li><div class="modulecontent"><a href="/demo/registration" target="_blank">点云注册示例</a></li>
            </ul>
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-6">
            <div class="modulecaption"><a href="/demo/deformation" target="_blank">三维点云和网格变形</a></div>
            <ul class="moduleul">
            <li><div class="modulecontent">保持模型的几何细节</div></li>
            </ul>
          </div>
          <div class="col-md-6">
            <img class="featurette-image img-responsive center-block" src="/images/deformation.jpg" alt="feature-modeling">
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <img class="marginleft featurette-image img-responsive center-block" src="/images/mesh_curve_curvature.jpg" alt="feature-modeling">
          </div>
          <div class="col-md-5">
            <div class="modulecaption_right">网格曲线，测量</div>
            <ul class="moduleul_right">
            <li><div class="modulecontent">网格曲线：网格测地线（精确，快速，近似），截面线，线切割网格</div></li>
            <li><div class="modulecontent">网格测量：曲率，网格厚度，点到网格距离</div></li>
            </ul>
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-4">
            <div class="modulecaption">网格处理基础功能</div>
            <ul class="moduleul">
            <li><div class="modulecontent">网格补洞</div></li>
            <li><div class="modulecontent">简化加密</div></li>
            <li><div class="modulecontent">拓扑几何修复</div></li>
            <li><div class="modulecontent">几何细节增强，光滑</div></li>
            </ul>
          </div>
          <div class="col-md-8">
            <img class="featurette-image img-responsive center-block" src="/images/mesh_basic.jpg" alt="feature-modeling">
          </div>
        </div>
        
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-8">
            <img class="marginleft featurette-image img-responsive center-block" src="/images/point_basic.jpg" alt="feature-modeling">
          </div>
          <div class="col-md-4">
            <div class="modulecaption_right">点云处理基础功能</div>
            <ul class="moduleul_right">
            <li><div class="modulecontent">点云三角化</div></li>
            <li><div class="modulecontent">采样</div></li>
            <li><div class="modulecontent">光滑</div></li>
            <li><div class="modulecontent">去孤立项</div></li>
            </ul>
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <div class="modulecaption"><a href="/demo/meshshop" target="_blank">三维浅浮雕自动生成</a></div>
            <ul class="moduleul">
            <li><div class="modulecontent">通过三维模型自动生成三维浅浮雕</div></li>
            <li><div class="modulecontent">不需要完整的三维模型，只需要一帧深度图便可以生成该角度的三维浅浮雕</div></li>
            </ul>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/images/relief.jpg" alt="feature-modeling">
          </div>
        </div>



        <hr class="featurette-divider">
        <a name="funclist"><h3>功能模块列表<small> (单击功能名称进入Magic3D对应功能的详细介绍)</small></h3></a>
        <table class="table table-bordered">
            <thread>
                <tr class="active"><th>名称</th><th>功能</th></tr>
            </thread>
            <tbody>
                <tr class="info"><th>点云处理模块</th><th><a href="/magic3d#pointcloud_reconstruction" target="_blank">点云三角化</a>，<a href="/magic3d#pointcloud_sample" target="_blank">点云采样（均匀，几何，格栅，简化）</a>，<a href="/magic3d#pointcloud_normal" target="_blank">点云法线计算</a>，<a href="/magic3d#pointcloud_repair" target="_blank">点云修复（光滑，去飞点，去孤立项，去重影）</a>，<a href="/magic3d#registration" target="_blank">点云刚性注册（点云全局注册，无标记点拼接，有标记点拼接，ICP注册），多帧点云去除重叠，点云非刚性注册（点云全局注册，ICP注册）</a></th></tr>

                <tr class="active"><th>网格处理模块</th><th><a href="/magic3d#mesh_fill" target="_blank">网格补洞（三角化，平面，切线，曲率），网格桥接</a>，<a href="/magic3d#mesh_cut" target="_blank">面切割网格</a>，<a href="/magic3d#mesh_repair" target="_blank">网格修复（拓扑修复，几何修复，去孤立项）</a>，<a href="/magic3d#mesh_changevertex" target="_blank">网格简化，加密，细分</a>，<a href="/magic3d#mesh_filter" target="_blank">网格去噪，光滑，几何细节增强</a>，<a href="/magic3d#mesh_shell" target="_blank">网格均匀抽壳</a>，<a href="/magic3d#mesh_remesh" target="_blank">重新网格化（Remesh），带约束的Delaunay网格优化，重心Voronoi网格优化</a>，<a href="/magic3d#mesh_sample" target="_blank">网格点采样</a></th></tr>

                <tr class="info"><th>网格UV展开模块</th><th><a href="/magic3d#uvunfold" target="_blank">单连同圆盘拓扑网格UV展开，UV等距优化，任意拓扑网格全自动UV展开，UV Atlas打包</a></th></tr>
                
                <tr class="active"><th>网格测量模块</th><th><a href="/magic3d#measure" target="_blank">网格测地线计算（精确，快速，近似），平面截网格线，网格线切割网格，网格线光滑，网格表面积计算，体积计算，网格平均曲率，高斯曲率，主曲率，网格厚度测量，射线与网格求交，点到网格距离测量</a></th></tr>
                
                <tr class="info"><th>纹理优化模块</th><th><a href="/magic3d#texture_image" target="_blank">网格纹理贴图制作</a>，<a href="/magic3d#texture_map" target="_blank">点像对应投影</a>，<a href="/magic3d#texture_map" target="_blank">点像对应割缝优化</a>，<a href="/magic3d#pointcloud_color" target="_blank">多角度点云颜色融合</a>，<a href="/magic3d#registration_tune_color" target="_blank">单光源点云颜色修正</a>，<a href="/magic3d#texture_image" target="_blank">纹理贴图颜色修正</a></th></tr>
                
                <tr class="active"><th>三维变形模块</th><th><a href="/magic3d#deform_pointcloud" target="_blank">三维点云变形</a>，<a href="/magic3d#deform_mesh" target="_blank">三维网格变形</a></th></tr>
                
                <tr class="info"><th>其它功能</th><th><a href="/magic3d#relief_relief" target="_blank">三维浅浮雕制作</a></th></tr>
            </tbody>
        </table>


        <!-- <hr class="featurette-divider"> -->
        <!-- <h3><a href="/geometryplusplus/document" target="_blank">开发文档</a> | <a href="/geometryplusplus/feature" target="_blank">功能列表</a></h3> -->

        <hr class="featurette-divider">
        <h3>如果您有任何疑问和建议，欢迎发email</h3>
        <img class="featurette-image img-responsive center-block" src="/images/contact.jpg" alt="contact">
        <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
    <% include homepagefooter %>

    <script type="text/javascript">
    $(document).ready(function (e) {
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function () {
        $('.main-nav').slideToggle();
        return false

      });

    });
  </script>

  
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/Dependence/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
