<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GeomtryHub">
    <meta name="keywords" content="三维建模，室内重建，html5，slam，stl, obj, 3d模型，三维设计"> 
    <link rel="icon" href="images/favicon.ico">

    <title>GeometryHub</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/homepagetoolbar.css" rel="stylesheet">
    <link href="stylesheets/homepagefooter.css" rel="stylesheet">
    <script src="/javascripts/Tool/baidutongji.js"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <% include homepagetoolbar %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
		    <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        
        <div class="item active">
          <img class="first-slide" src="images/teaser1.jpg" alt="Teaser0">
          <div class="container">
            <div class="carousel-caption">
              <h1>三维几何空间</h1>
              <h3>我的三维几何空间展示</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="images/teaser2.jpg" alt="Teaser1">
          <div class="container">
            <div class="carousel-caption-low">
              <h1>三维几何空间</h1>
              <h3>我的三维几何空间展示</h3>
            </div>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2>三维几何空间</h2>
          <ul>
            <li><h3>三维几何空间</h3></li>
            <li><h3>三维几何空间</h3></li>
            <li><h3>三维几何空间</h3></li>
          </ul>
        </div>
        <div class="col-md-5">
          <img class="img-circle featurette-image img-responsive center-block" src="images/feature-modelshow.gif" alt="feature-modeling">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2><a href="/geometryplusplus" target="_blank">Geometry++</a>: 三维几何算法库</h2>
          <ul>
            <li><h3>算法前沿高效, 工程稳定可靠</h3></li>
            <li><h3>即插即用</h3></li>
            <li><h3>跨平台支持: Windows, Linux, MacOSX</h3></li>
          </ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="img-circle featurette-image img-responsive center-block" src="images/meshsimplification.gif" alt="feature-gpp">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2><a href="/magic3d" target="_blank">Magic3D</a>: 三维数据处理软件</h2>
          <ul>
            <li><h3>提供丰富的点云网格处理功能</h3></li>
            <li><h3>三维模型<a href="/geometryplusplus/models" target="_blank">下载</a></h3></li>
          </ul>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/Magic3DInterface_half.jpg" alt="feature-modeling">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2><a href="/notes" target="_blank">三维数据处理实践</a></h2>
          <ul>
            <li><h3>讲解点云网格处理中常见概念</h3></li>
            <li><h3>介绍工程实践中实用的处理技巧</h3></li>
          </ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="images/free_fix_boundary.jpg" alt="feature-gpp">
        </div>
      </div>

      <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->

    <% include homepagefooter %>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/Dependence/jquery-2.1.3.js"></script>
    <script src="javascripts/Dependence/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="javascripts/Dependence/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
