<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GeomtryHub">
    <meta name="keywords" content="重建三维几何空间，室内重建，slam，geometryhub, magic3d, geometry++, stl, obj, 3d模型，三维设计"> 
    <link rel="icon" href="images/favicon.png">

    <title>几何空间</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/animate.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="/stylesheets/homepagetoolbar.css" rel="stylesheet">
    <link href="/stylesheets/homepagefooter.css" rel="stylesheet">
    <script src="/javascripts/Tool/baidutongji.js"></script>
    <script src="/javascripts/Dependence/jquery-2.1.3.js"></script>
    <script src="/javascripts/Dependence/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/Dependence/jquery-scrolltofixed.js"></script>
    <script type="text/javascript" src="/javascripts/Dependence/wow.js"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <% include homepagetoolbar %>

    <header class="header" id="header">
      <div class="container">
        <ul class="we-create animated fadeInUp delay-1s">
          <li>我的三维几何空间</li>
        </ul>
        <figure class="animated fadeInDown delay-07s">
          <video class="video_teaser" src="/videos/slam_0.mp4" poster="/images/slam_0.png" controls="controls" autoplay="autoplay" loop="loop">你的浏览器不支持Video标签, 请换一个浏览器，比如Google浏览器</video>
        </figure>
      </div>
    </header>
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" id="slam">

      <div class="row featurette ">
        <div class="col-md-7 wow animated fadeInDown delay-03s">
          <h2>重建三维几何空间</h2>
          <ul>
            <li><h3>CPU实时计算</h3></li>
            <li><h3>回路检测，全局融合</h3></li>
          </ul>
        </div>
        <div class="col-md-5 animated fadeInDown delay-07s">
          <video class="video_side featurette-image img-responsive center-block" src="/videos/scan_0.mp4" poster="/images/scan_0.png" controls="controls"  loop="loop">你的浏览器不支持Video标签, 请换一个浏览器，比如Google浏览器</video>
        </div>
      </div>
      <hr class="featurette-divider">

      <!-- <div class="row featurette">
        <div class="col-md-6 col-md-push-6 wow animated fadeInDown delay-03s">
          <h2>Magic3D</h2>
          <ul>
            <li><h3>三维数据处理</h3></li>
          </ul>
        </div>
        <div class="col-md-6 col-md-pull-6 wow animated fadeInDown delay-07s">
          <img class="featurette-image img-responsive center-block" src="images/Magic3DInterface_half.jpg" alt="feature-gpp">
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette ">
        <div class="col-md-7 wow animated fadeInDown delay-03s">
          <h2>Geometry++</h2>
          <ul>
            <li><h3>三维几何算法库</h3></li>
          </ul>
        </div>
        <div class="col-md-5 wow animated fadeInDown delay-07s">
          <img class="img-circle featurette-image img-responsive center-block" src="images/meshsimplification.gif" alt="feature-modeling">
        </div>
      </div>
      <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->

    <% include homepagefooter %>

    <!-- --------------------------------------------------------------------- -->

  <script type="text/javascript">
    $(document).ready(function (e) {
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function () {
        $('.main-nav').slideToggle();
        return false

      });

    });
  </script>

  <script>
    wow = new WOW({
      animateClass: 'animated',
      offset: 100
    });
    wow.init();
  </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="javascripts/Dependence/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
