<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="在线三维建模网站，采用webgl技术，在浏览器中进行三维设计">
    <meta name="keywords" content="三维建模，细分建模，webgl，sketchup, stl, obj, 3d打印, 模型下载，三维设计">
    <link rel="icon" href="images/favicon.png">

    <title>王琪凤</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/wangqifeng.css" rel="stylesheet">
    <script src="/javascripts/Tool/baidutongji.js"></script>
  </head>

  <body>
    <div class="container marketing">

      <div class="row featurette">
        <div class="col-md-3">
          <h1><strong>王琪凤</strong></h1>
          <img class="img-circle featurette-image img-responsive center-block" src="images/wangqifeng.jpg" alt="wangqifeng">
          <h2><strong>Email</strong>: qifengwang1988 at 126 dot com</h2>
        </div>
        <div class="col-md-9">
          <div class="row featurette">
            <div class="col-md-12">
                <h3>教育背景</h3>
                <p>2006.09 - 2009.07 苏州经贸职业技术学院 会计专业</p>
            </div>
          </div>

          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-12">
                <h3>求职意向</h3>
                <p>总账会计 税务会计</p>
            </div>
          </div>

          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-12">
                <h3>专业技能</h3>
                <p><strong>资质证书</strong>: 会计上岗证, 会计职称初级</p>
                <p><strong>专业软件</strong>: 精通用友财务软件和多种办公软件（Windows Excel, Word, PowerPoint, Adobe Acrobat）</p>
            </div>
          </div>

          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-12">
                <h3>工作经历</h3>
                <h4>2013.03 - 2017.07 上海乐韩商业有限公司 总账会计</h4>
                <ul>
                  <li>2013.3-2015: 北京、天津分公司的全盘账务处理及纳税申报，年度汇算清缴</li>
                  <li>2015.5-2017.7: 北京分公司全盘账务处理几纳税申报，年度汇算清缴；上海金汇南路分公司及总部全盘账务处理</li>
                  <li>编制各类财务报表及管理报表，协助财务主管提供年度审计资料并完成年度汇算清缴</li>
                </ul>

                <h4>2009.04 - 2012.12 青岛东方铁塔股份有限公司(苏州子公司) 总账会计</h4>
                <ul>
                  <li>填制会计凭证；进行运输费用预结算和审核</li>
                  <li>进行外包业务和安装工程的账务处理</li>
                  <li>核算成本，负责固定资产模块的月（年）结工作，完成总账系统结账; 协助会计主管完成半年度、年度审计工作等</li>
                  <li>编制、申报增值税及相关税种报表，开具及认证增值税发票，认证运输业发票</li>
                  <li>进行企业年度所得税汇算清缴，编制及申报重点税源报表</li>
                </ul>

                <h4>2008.11 - 2009.03 苏州拓宇电子科技有限公司 会计助理(实习)</h4>
                <ul>
                  <li>协助主办会计完成各原始票据的整理并完成相关制单，进行纳税申报</li>
                  <li>协助公司去税务局进行业务的申请办理</li>
                </ul>
            </div>
          </div>

          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-12">
                <h3>自我评价</h3>
                <p>热爱会计事业、大学期间系统学习了会计专业知识，具有六年半总账会计、固定资产会计和税务会计的工作经验，熟悉各个会计岗位的职责和工作流程，熟练使用用友/金碟等会计专业软件</p>
                <p>性格开朗、勤奋踏实、认真负责、善于沟通交流，与同事相处愉快. 自学能力和动手能力较强，积极进取，希望不断提高自身的专业能力与综合素质</p>
            </div>
          </div>

        </div>
      </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/Dependence/jquery-2.1.3.js"></script>
    <script src="javascripts/Dependence/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="javascripts/Dependence/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
