<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="在线三维建模网站，采用webgl技术，在浏览器中进行三维设计">
    <meta name="keywords" content="三维建模，细分建模，webgl，sketchup, stl, obj, 3d打印, 模型下载，三维设计，数字几何处理，Geometry++">
    <link rel="icon" href="/images/favicon.png">

    <title>网格曲线模块</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/notes.css" rel="stylesheet">
    <link href="/stylesheets/prettify.css" rel="stylesheet" />
    <script src="/javascripts/Dependence/prettify.js"></script>
    <link href="/stylesheets/homepagetoolbar.css" rel="stylesheet">
    <link href="/stylesheets/homepagefooter.css" rel="stylesheet">
    <script src="/javascripts/Tool/baidutongji.js"></script>
  </head>

  <body>

    <% include ../homepagetoolbar %>
    
    <div class="container">
        <h2>网格曲线模块</h2>

        <h4>测试方法</h4>
        <p>这个模块的功能比较直观，可以直接参考<a href="/magic3d#measure" target="_blank">Magic3D</a>的使用说明进行功能测试。</p>

        <hr class="line-divider">
        <h4>功能展示</h4>
        <div class="row featurette">
          <div class="col-md-8">
            <div class="modulecaption">网格表面测地线</div>
            <ul class="moduleul">
            <li><div class="modulecontent">网格两点之间的连线，测地线最短。测地线类似软皮尺一样，可以测量网格表面距离。</div></li>
            <li><div class="modulecontent">有两类测地线：过网格顶点的近似测地线和过网格边的精确测地线</div></li>
            <li><div class="modulecontent">测地线可应用于网格割线，如UV展开割线</div></li>
            <li><div class="modulecontent"><a href="/demo/measure" target="_blank">三维测量示例</a></div></li>
            </ul>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" src="/images/geodesics.jpg" alt="feature-modeling">
          </div>
        </div>
        <hr class="line-divider">
        
        <div class="row featurette">
          <div class="modulecaption">网格线的生成</div>
          <ul class="moduleul">
          <li><div class="modulecontent">网格线是约束在网格表面的曲线，一般可以看作顺序连接网格表面某些顶点/边点/面点的多边形。</div></li>
          <li><div class="modulecontent">合理的网格线需要其任意相邻的曲线点属于网格的同一个三角形。</div></li>
          <li><div class="modulecontent">网格线有很多生成方法：如测地线、平面截线等</div></li>
          </ul>
          
          <img class="featurette-image img-responsive center-block" src="/images/curveCut1.png" alt="feature-modeling">
         
        </div>
        <hr class="line-divider">
        
        <div class="row featurette">
          <div class="modulecaption">网格线切割网格</div>
          <ul class="moduleul">
          <li><div class="modulecontent">使用网格线可以将网格分割成多个部分。</div></li>
          <li><div class="modulecontent">切割后的网格将加入若干顶点和若干三角形，并且沿着切线将形成缝隙。</div></li>
          <li><div class="modulecontent">可以处理多条网格线同时切割网格的情况。</div></li>
          <img class="featurette-image img-responsive center-block" src="/images/curveCut2.png" alt="feature-modeling">
        </div>

        <hr class="line-divider">
        <h3>如果您有任何疑问和建议，欢迎发email</h3>
        <img class="featurette-image img-responsive center-block" src="/images/contact.jpg" alt="contact">

    </div>

    <hr>
    <% include ../homepagefooter %>
  
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/Dependence/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/Dependence/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/Dependence/ie10-viewport-bug-workaround.js"></script>
    <body onload="prettyPrint()">
  </body>
</html>
