<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="在线三维建模网站，采用webgl技术，在浏览器中进行三维设计">
    <meta name="keywords" content="三维建模，细分建模，webgl，sketchup, stl, obj, 3d打印, 模型下载，三维设计，数字几何处理">
    <link rel="icon" href="/images/favicon.png">

    <title>彩色纹理网格</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/notes.css" rel="stylesheet">
    <link href="/stylesheets/prettify.css" rel="stylesheet" />
    <script src="/javascripts/Dependence/prettify.js"></script>
    <link href="/stylesheets/homepagetoolbar.css" rel="stylesheet">
    <link href="/stylesheets/homepagefooter.css" rel="stylesheet">
    <script src="/javascripts/Tool/baidutongji.js"></script>
    <script src="/javascripts/Dependence/run_prettify.js?lang=css&amp;skin=sunburst"></script>
  </head>

  <body>

    <% include ../homepagetoolbar %>
    
    <div class="container">
        <h2>彩色纹理网格 <small></small></h2>

        <h4>彩色网格分类</h4>
        <p>彩色网格主要分两类，一类是彩色顶点网格，一类是彩色贴图网格。</p>
        <li class="contentli">彩色顶点网格：网格顶点带有颜色，三角形的颜色由网格顶点颜色插值得到。网格的色彩分辨率等于顶点分辨率。如下图上所示。</li>
        <li class="contentli">彩色贴图网格：网格的三角形的颜色对应于图像的一个三角片。网格的色彩分辨率等于图像的色彩分辨率。如下图下所示。</li>
        <img class="featurette-image img-responsive center-block" src="/images/color_texture.jpg" alt="color texture">
        <p>彩色顶点网格的顶点分辨率和色彩分辨率一样，当网格顶点比较少的时候，色彩信息会损失很多，如下图2所示。彩色贴图网格的色彩分辨率取决于纹理贴图的分辨率，与网格顶点分辨率无关，如图3所示，同样的网格，纹理贴图方式可以存储高于网格分辨率的色彩信息。</p>
        <img class="featurette-image img-responsive center-block" src="/images/simplify_color_texture.jpg" alt="simplify color texture">
        <hr class="line-divider">

        <h4>彩色贴图网格的制作</h4>
        <p>彩色网格的制作，没有统一的工作流。因为采集的数据源有差异，数据质量也有差异。但是，一般都会走到这一步，如下图所示：一个网格对应一组图片，网格的三角形可以分为三类：三角形三个顶点对应于某张图片的三个像素；三角形三个顶点对应的像素不在同一张图片；三角形有顶点没有图片像素对应。</p>
        <img class="featurette-image img-responsive center-block" src="/images/make_texture_image.jpg" alt="make_texture_image">
        <p>这里最重要的信息是网格顶点和图像像素的对应，简称点像对应。有了网格，图片以及点像对应信息，就可以制作出纹理贴图，如下图所示。网格的三角形颜色信息直接存储到纹理贴图上，纹理贴图可以看作是原始图片剪碎后组合到一块得到的。</p>
        <img class="featurette-image img-responsive center-block" src="/images/mesh_texture_image.jpg" alt="mesh_texture_image">
        <hr class="line-divider">
        
        <h4>点像对应的计算</h4>
        <p>点像对应是指网格顶点和图像像素的对应。大致可以分为下面几类：</p>
        <li class="contentli">图片是随意拍摄的，或者丢失了图像和网格的关系信息。这类情况需要用户手动创建点像对应信息。比如一些半自动的方法，用户手动选择一些特征点的对应，程序自动计算出其它部分的点像对应。</li>
        <li class="contentli">网格和图片有相机参数对应，可以通过相机参数来计算对应关系。</li>
        <li class="contentli">网格对应的点云有点像对应，可以通过投影的方式把点云的点像对应投影到网格上。</li>
        <p>下图是一个典型的扫描点云，并且有对应的图像采集。有时候扫描点云也可以对应多张图片，本质都是一样的。</p>
        <img class="featurette-image img-responsive center-block" src="/images/scan_image.jpg" alt="scan image">
        <hr class="line-divider">

        <h4><a href="/magic3d#texture_map" target="_blank">点像对应割缝优化</a></h4>
        <p>多角度拍摄模型的时候，帧与帧之间一般有重叠区域。重叠区域的网格顶点有多个图片与其对应，也就是有多个点像对应信息。重叠区域的点像对应的选择，能影响贴图效果。如下图所示，不同的颜色代表不同的图片。左边贴图有明显的图像缝隙痕迹。右边贴图是优化后的结果，图像缝隙色差减小很多。</p>
        <img class="featurette-image img-responsive center-block" src="/images/fuseimagecolorids_face.jpg" alt="fuse imagecolorid">
        <p></p>
        <hr class="line-divider">

        <h4><a href="/magic3d#texture_image" target="_blank">纹理贴图颜色融合</a></h4>
        <p>在一些图片拍摄环境不是很理想的情况下，即使对点像对应的割缝进行了优化，网格的纹理贴图在不同图片之间，也还会有一些色差。颜色融合的一个基本假设是，同一张图片的颜色是协调的，色差只存在于不同图片之间。基于这个假设，根据三角片对应的图片信息，可以直接对纹理图进行颜色融合。如下图所示，左图的颜色代表了贴图的图片索引号，中图是纹理贴图效果。可以看出，图片接缝处有明显的色差痕迹。右图是颜色融合后的效果。</p>
        <img class="featurette-image img-responsive center-block" src="/images/TuneTextureImageColor_shoe.jpg" alt="fuse texture image">
        <p></p>
        <hr class="line-divider">

        <h4><a href="/magic3d#registration_tune_color" target="_blank">单光源点云颜色修正</a></h4>
        <p>当摄像机固定，物体自身旋转，比如在转台上，然后单光源固定于模型前面。这种方式采集的图像，有个共同的缺点，就是单帧物体的边缘颜色会比较暗。如下图所示，左图是点云真实的颜色，右图是单光源设置下采集的彩色点云，可以看到点云在边界处颜色逐渐变暗。</p>
        <img class="featurette-image img-responsive center-block" src="/images/color_shade_point_compare.jpg" alt="color shade point compare">
        <p>这种点云在多帧融合的时候会出现严重的色差，如下图所示，图1，2是两帧有重叠的点云，图3把这两帧点云注册到一块，可以看到在点云接缝处有严重的色差。单光源点云颜色修正，可以根据不同帧点云重叠的信息，去掉黑边色差。图4就是去掉色差后的点云色彩效果。</p>
        <img class="featurette-image img-responsive center-block" src="/images/tune_single_light.jpg" alt="tune single light">
        <hr class="line-divider">

        <h4><a href="/magic3d#pointcloud_color" target="_blank">多角度点云颜色融合</a></h4>
        <p>有时候，虽然单帧图像色彩质量是好的，但是不同帧之间的光照有差异，比如多个拍照位置的情况。如下图所示，图1，2两帧彩色点云，分别看质量还可以，但是注册到一块时，如图3所示，会有明显的色差。图4就是色彩融合后的效果。</p>
        <img class="featurette-image img-responsive center-block" src="/images/point_color_merge.jpg" alt="point color merge">

    </div>

    <hr>
    <% include ../homepagefooter %>
  
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/Dependence/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/Dependence/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/Dependence/ie10-viewport-bug-workaround.js"></script>
    <body onload="prettyPrint()">
  </body>
</html>
